<li><%= link_to image_tag("logo.png") + ' ' + "apache2 restart", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "apache2 start", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "apache2 stop", "#" %></li>
