<li><%= link_to image_tag("logo.png") + ' ' + "read write clone unique (em4x02)", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "reset hitag2 tag", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "set fdx-b id", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "testfrosch reader", "#" %></li>
