<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "blindelephant", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "plecost", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "wpscan", "#" %></li>
