.body {
  background: image-url("kali.png") no-repeat center center fixed;
  background-color: #000;
}
.top-bar ul > li.has-dropdown a:after { 
  content: "";
  display: none;
  width: 0;
  height: 0;
  border:0;
  border-color: none;
  border-left-style: none;
  margin-right: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.login {
  position: absolute;
  background-color: #ccc; 
  color: #778;
  font: normal small-caps 12px/14px fantasy; 
  min-width: 350px;
  min-height: 4in; 
  margin: 18% 0% 0% 32%; 
}
.logo {
  padding-top: 10%;
}
.sessions {
 padding-top: 5%;
 position: absolute;
 padding-left: 19%;
}
.trans
{
opacity:0.5;
filter:alpha(opacity=50);
-moz-opacity:0.5;
width:100%;
height:100%;
position:absolute;
margin:-20px;
z-index:-1;
}

.container {
position:relative;
background-color:#000;
width:640px;
height:400px;
padding:20px;
color: #fff;
border:1px solid #ccc;
}
.canal {
position:relative;
margin-right: 50%;
margin-top: 50%;
padding-top: 20%;
padding-left: 10%;
}